<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Merkzettel entfernen (FfuenfNoWishlist)</label>
    <version>1.0.4</version>
    <copyright>(c) by Achim Rosenhagen / ffuenf - Pra &amp; Rosenhagen GbR</copyright>
    <license>proprietary</license>
    <link>https://www.ffuenf.de</link>
    <author>ffuenf</author>
    <compatibility minVersion="5.5.0"/>
    <requiredPlugins>
        <requiredPlugin pluginName="FfuenfCommon" minVersion="1.0.0"/>
    </requiredPlugins>
    <changelog version="1.0.4">
        <changes lang="en">
            fix tests
        </changes>
        <changes lang="de">
            Tests korrigiert
        </changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="en">
            add test-suite ffuenf/SWTestStand
        </changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="en">
            add dependency to FfuenfCommon
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="en">
            move ConfigAbstract to AbstractService
            integrate test-suite
        </changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="en">
            initial public release
        </changes>
        <changes lang="de">
            Erstveröffentlichung
        </changes>
    </changelog>
</plugin>
