<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="boolean" scope="locale">
            <name>disableWishlist</name>
            <label lang="de">deaktiviere Wunschzettel</label>
            <label lang="en">deactivate wishlist</label>
            <value>1</value>
        </element>
    </elements>
</config>